body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

.menu {
    border-bottom: 2px solid gray;
    padding: 20px;
    text-align: center;
}

.carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* impede esticar quando um cresce */
    gap: 40px;
    padding: 40px;
}


.card {
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    min-height: 300px; /* altura padrão quando fechado */
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}


.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.info {
    display: none;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}

.card2 {
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    min-height: 300px; /* altura padrão quando fechado */
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.card2:hover {
    transform: scale(1.05);
}

.card2 img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    background: #111;
    padding: 30px;
    width: 500px;
    max-height: 85vh;
    overflow-y: auto;
    border-radius: 15px;
    position: relative;
    color: white;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

